$body-bg: #272727;
$body-color: #fff;
$ds-color: #f15922; //importing main files
@import "../node_modules/bootstrap/scss/bootstrap";
.nav-link {
  color: #fff;
}

.header {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  line-height: 100%;

  a {
    margin-left: 30px;
  }
}
.navbar-custom {
  .navbar-nav {
    .nav-link {
      color: #fff;

      &:hover,
      &:focus {
        color: gray;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .nav-link.active {
      color: gray;
    }
  }
}
.navbar-toggler {
  border: none !important
  ;
}

.hamburger_menu {
  span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: #fff;
    transform-origin: 3px 0.95px;
    transition: all 300ms ease-in-out;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &.open {
    > span:first-child {
      transform: rotate(45deg);
    }
    > span:nth-child(2) {
      opacity: 0;
    }
    > span:last-child {
      transform: rotate(-45deg);
    }
  }
}

@include media-breakpoint-up(xs) {
  .header {
    .logo img {
      height: 2rem;
      width: auto;
    }
  }
  .owl-carousel .owl-item img {
    margin-top: 0;
  }
}

@include media-breakpoint-up(sm) {
  .owl-carousel .owl-item img {
    margin-top: 0;
  }
  .overlay-text {
    background: rgb(255, 255, 255);
    color: #000;
  }
}
@include media-breakpoint-up(md) {
  .header {
    .logo img {
      height: 3.125rem;
      width: auto;
    }
  }
  .overlay-text {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.6474964985994398) 100%
    );
    color: black;
    z-index: 100;
    > p {
      margin: 5px 45px 20px 45px;
      text-align: center;
    }
    > span,
    h1 {
      margin: auto 45px;
      text-align: center;
    }

    > span {
      font-size: 20px;
    }

    > h1 {
      font-size: 30px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .header {
    .logo img {
      height: 4.375rem;
      width: auto;
    }
  }
  .child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
@include media-breakpoint-up(xl) {
  .header {
    .logo img {
      height: 4.375rem;
      width: auto;
    }
    .active-menu::after {
      content: "";
      display: block;
      height: 0.25rem;
      background: white;
      position: relative;
      bottom: -1.25rem;
    }
  }
}

//carousel
.owl-carousel .owl-dots {
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  width: 15px;
  height: 5px;
  margin: 5px;
  background: white;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #f15922;
}

.owl-carousel.home-slider .owl-dots {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50);
  transform: rotate(90deg);
}

.slider-image img {
  width: 100% !important;
  height: auto;
}

.explore_button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -25%);
}

.overlay-text {
  margin-bottom: 30px;
}
//footer
.info_sec {
  span {
    display: block;
    margin: 30px;
  }

  .copyright-info {
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
  }
}

//socials-icon

.social-icons {
  font-size: 25px;
  list-style: none;
  padding: 0;
  display: table;
  width: 100%;

  a {
    color: #fff;

    &:hover {
      color: $ds-color;
    }
  }
}
.btn-ds {
  color: #fff;
  background-color: #f15922;
  font-weight: bold;
  border-radius: 2;
}

.btn-ds:hover,
.btn-ds:active,
.btn-ds:focus,
.btn-ds.active {
  background: #ff4c0c;
  color: #fff;
}

//contact forms
.form-control,
.form-control:active {
  background: #fff !important;
}

.form-control:focus {
  box-shadow: 0 0 0 2px rgba(255, 174, 98, 0.808)
}
